{% extends 'mailing_list_mngr/base.html' %}
{% block content %}
{% if user.is_authenticated and user == object.owner or perms.mailing_list_mngr.view_message %}
<div class="card px-4 py-5 my-5 text-center">
    <h2 class="display-5 fw-bold text-body-emphasis"> Сообщение</h2>
</div>
<div class="col-lg-9 mx-auto">
    <div class="row text-center">
        <div class="col-12">
            <div class="card mb-6 box-shadow">
                <div class="card-header">
                    <h4 class="text-primary">
                        {{object.name }}
                    </h4>
                    {% if user == object.owner %}
                    <a class="btn btn-primary" href="{% url 'mailing_list_mngr:message_update' object.pk %}"
                       role="button">
                        Редактировать </a>
                    <a class="btn btn-primary" href="{% url 'mailing_list_mngr:message_delete' object.pk %}"
                       role="button">
                        Удалить </a>
                    {% endif %}
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>{{ object.body }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}